.App {
  text-align: center;
}

/* body {
  background-image: url(./assets/drinks-background.jpg);
  background-size: 100%;
} */

h1 {
  text-align: left;
  padding: 2em;
}

.leaflet-container {
  height: 400px;
  width: 40%;
  margin: 2em;
  float: right;
}

#logo {
  font-family: 'Lobster', cursive;
  text-align: center;
}